.move-image{
  width:259.5px;
   height:346px;
   margin-bottom: 5%;
}


@media screen and (max-device-width: 480px){
  .move{
      position: relative;
      bottom: 0%;
      margin-bottom: 3%;
  }
 .move-image{
     width:179.53px !important;
     height: 134.63px !important;
 }
 
  .image-care-move{
      position: relative;
      top: 0% !important;
  }
  .background-courses{
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px){
  .image-care-move{
      position: relative;
      top: 0% !important;
  }

  .move{
      position: relative;
      bottom: 0%;
      margin-bottom: 3%;
  }
 .move-image{
     width:220.53px !important;
     height: 194.63px !important;
 }
 
  .image-care-move{
      position: relative;
      top: 0% !important;
  }
  .image-section{
      height: auto;
  }
  .background-courses{
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px){
  .move-image{
      width:220.53px !important;
      height: 194.63px !important;
  }
  
  .move-1{ 
      position: relative;
      bottom: 0%;
  }
  .background-courses{
      margin-left: auto;
      margin-right: auto;
  }
} 

