.home{
  padding-top: 3.5rem;
  padding-bottom: 2.8rem;
  display: block;
  position: relative;
}

.home{
  position: relative;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.rocket{
  max-width: 100%;
  height: auto;
  -webkit-transform: rotate(74deg) !important;
  transform: rotate(74deg) !important;
}
.fill-purple {
  fill: #6f42c1 !important;
}
.fill-warning {
  fill: #f7c32e !important;
}
.home-text h6{
  font-family: "Roboto", sans-serif !important;
  border-radius: 0.325rem !important;
  color: white;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-right: 1.6rem !important;
  padding-left: 1.6rem !important;
  margin-bottom: 1rem !important;
  display: inline-block !important;
  font-size: 0.9375rem;
  background-color: #1D3B53;
}

.home-text h1{
  font-size: 2.8125rem;
}
.home-text p{
  margin-bottom: 3rem !important;
}
.fill-info {
  fill: #17a2b8 !important;
}


.home-text-logo-1{
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
  -webkit-box-shadow: 0px 0px 40px rgb(29 58 83 / 15%) !important;
  margin-bottom: 0 !important;
  border-radius: 50%;
  box-shadow: 0px 0px 40px rgb(29 58 83 / 15%) !important;
}

.home-text-logo-2{
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-purple-rgb), var(--bs-text-opacity)) !important;
  -webkit-box-shadow: 0px 0px 40px rgb(29 58 83 / 15%) !important;
  margin-bottom: 0 !important;
  border-radius: 50%;
  box-shadow: 0px 0px 40px rgb(29 58 83 / 15%) !important;
}
.home-text-logo-3{
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
  --bs-text-opacity: 1;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
  -webkit-box-shadow: 0px 0px 40px rgb(29 58 83 / 15%) !important;
  margin-bottom: 0 !important;
  border-radius: 50%;
  box-shadow: 0px 0px 40px rgb(29 58 83 / 15%) !important;
}
.fa-user-graduate{
  font-weight: 900;
  text-align: center;
  width: 1.25em;
}
.home-text-1 h5{
  font-size: 1.3125rem;
}
.home-text-1-para{
  color: gray;
}
.btn-primary-soft:hover {
  color: #fff;
  background-color: #066ac9;
}
.btn-primary-soft{
  background-color: #066ac9;
  background-color: rgba(6, 106, 201, 0.1);
}
.fill-success {
fill: #0cbc87 !important;
}
